@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


/* Animation bounce */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animation-bounce {
  animation: bounce 3s infinite;
}


/* Animation Spin */
@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}
.animation-spin {
  animation: spin 12s linear infinite;
}

/* Animation Pulse */
@keyframes pulse {
  50% {
      opacity: .5;
  }
}
.animation-pulse {
  animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Animation Ping */
@keyframes ping {
  75%, 100% {
      transform: scale(2);
      opacity: 0;
  }
}
.animate-ping {
  animation: ping 8s cubic-bezier(0, 0, 0.2, 1) infinite;
}